nav {
  z-index: 9999;
  width: 100%;
  padding: 1.4rem 3rem;
}
nav .logo .icon {
  font-size: calc(2rem + 1vw);
  color: var(--primary);
}
nav .logo span {
  color: var(--info);
  font-weight: 500;
  font-size: clamp(1rem, 1.2vw, 2rem);
  background-image: linear-gradient(45deg, var(--danger), var(--primary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .navigationLink .link {
  font-size: clamp(1.4rem, 1vw, 1.4rem);
  color: var(--light);
  font-weight: 500;
  cursor: pointer;
  margin: 0 1rem;
  transition: all 0.3s ease;
  position: relative;
  padding-bottom: 1rem;
  white-space: nowrap;
}
nav .navigationLink .link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--info);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  border-radius: 5px;
}
nav .navigationLink .link.active::after {
  width: 100%;
}
nav .navigationLink .link:hover::after {
  width: 100%;
}
nav .navigationLink .link:hover {
  color: var(--info);
}
nav .navigationLink .links-wrapper .sub-link {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 0 0 20px 20px;
  top: 100%;
  left: 0;
  width: 60vw;
  transform: translateX(-50%);
}
nav .navigationLink .links-wrapper:hover .sub-link {
  display: grid;
}
nav .navigationLink .links-wrapper .sub-link .linkName:hover span {
  color: var(--info);
}
nav .navigationLink .links-wrapper .sub-link:hover .linkName:not(:hover) span {
  opacity: 0.4;
}
nav .navigationLink .links-wrapper .sub-link .linkName .sub-links {
  display: none;
  position: absolute;
  top: calc(100% + 1rem);
  left: 0%;
  z-index: 999;
  border-radius: 0 0 20px 20px;
  padding: 1rem;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: max-content;
  flex-direction: column;
}
nav .navigationLink .links-wrapper .sub-link .linkName:hover .sub-links {
  display: flex;
  
}
nav .menu-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  nav .navigationLink {
    position: absolute;
    right: 2rem;
    top: 100%;
    flex-direction: column;
    gap: 2rem;
  }
  nav .navigationLink .links-wrapper .sub-link {
    top:0;
    right:calc(100% - 1rem);
    transform: none;
    left:unset;
    background-color: var(--violet);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    height: 300px;
    width: auto !important;
    overflow: auto;
  }
  nav .navigationLink .links-wrapper .sub-link .sub-link-content {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
  nav .navigationLink .links-wrapper .sub-link::-webkit-scrollbar {
    display: none;
  }
  nav .menu-btn {
    display: block;
  }
}
