.wrapper {
  position: relative;
  background-color: inherit;
}
nav {
  z-index: 9999;
  width: 100%;
  padding: 1.4rem 3rem;
  position: sticky;
  top: 100px;
}
nav .logo .icon {
  font-size: calc(2rem + 1vw);
  color: var(--primary);
}
nav .logo span {
  color: var(--info);
  font-weight: 500;
  font-size: clamp(1.4rem, 1.2vw, 2rem);
  background-image: linear-gradient(45deg, var(--danger), var(--primary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .menu-btn {
  display: none;
  color: inherit;
}
nav .login-Btn {
  padding: 1rem 2rem;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--white, #fff);
}
@media screen and (max-width: 768px) {
  nav {
    padding: 1rem 1.5rem;
  }
  nav .menu-btn {
    display: block;
  }
  nav .grp {
    padding: 2rem;
    position: absolute;
    top: 100%;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    left: 50%;
    transform: translate(-50%, -150%);
    max-width: 300px;
    margin: auto;
    background-color: var(--light);
    transition: 300ms ease;
  }
  nav .grp.active {
    transform: translate(-50%, 0%);
  }
  nav .login-Btn {
    width: 100%;
  }
}
