.sidebar {
  height: calc(100vh - 8rem);
  max-width: 250px;
  width: 100%;
  white-space: nowrap;
  position: relative;
  transition: 300ms ease;
  display: inline-block;
  background-color: var(--light);
}
.sidebar.active {
  position: absolute;
  max-width: 250px;
  transform: translateX(-100%);
  z-index: 99;
}
.sidebar.active + .main-panel {
  width: 100%;
}
.sidebar .sideBar-toggler {
  width: max-content;
  font-size: 2rem;
  position: absolute;
  left: calc(100% - 1rem);
  top: 0;
  color: var(--dark);
  z-index: 1;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--light);
}
.sidebar .sideBar-content {
  height: 100%;
  overflow: auto;
}
.sidebar .sideBar-content::-webkit-scrollbar {
  display: none;
}
.sidebar .sideBar-content svg {
  color: inherit;
}
.sidebar.active .sideBar-content .link:nth-child() {
  display: none;
}
.sidebar .sideBar-content .link {
  color: var(--dark);
  font-size: 1.5rem;
  margin: 1rem;
  position: relative;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 300ms ease;
}
.sidebar .sideBar-content .link:hover {
  background-color: var(--primary);
  color: var(--light);
}
.sidebar .sideBar-content .link .icon {
  font-size: 2rem;
}
.sidebar .sideBar-content .links-wrapper .link + .sub-link {
  display: none;
}
.sidebar .sideBar-content .links-wrapper .link.active + .sub-link {
  display: block;
  font-size: 0.9em;
}
.sidebar .sideBar-content .links-wrapper .link.active + .sub-link .link {
  display: block;
  padding-left: 1rem;
  cursor: pointer;
  font-size: 0.9em;
}
.sidebar .sideBar-content .links-wrapper .link.active + .sub-link .sub-links {
  display: none;
}
.sidebar
  .sideBar-content
  .links-wrapper
  .link.active
  + .sub-link
  .link.active
  + .sub-links {
  display: block;
}
@media screen and (max-width: 1080px) {
  .sidebar {
    position: absolute;
    max-width: 250px;
    transform: translateX(-100%);
    z-index: 1;
  }
  .sidebar.active {
    transform: translateX(0);
  }
}
