.banner-list {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.banner-list .banner-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.banner-list:nth-child(odd) .banner-header .image {
  order: -1;
}
.banner-list .banner-header .text h3 {
  background-image: linear-gradient(45deg, var(--danger), var(--primary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(1.5rem, 3vw, 3rem);
}
.banner-list .banner-header .text p {
  font-size: clamp(1rem, 1.2vw, 2rem);
  font-weight: 500;
}

.banner-list .banner-header .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-list .list li {
  font-size: clamp(1rem, 1.2vw, 2rem);
  font-weight: 500;
}
.banner-list .list li span {
  color: var(--danger);
  font-weight: 600;
  text-decoration: underline;
  font-style: oblique;
}
.banner-list .banner-footer {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: var(--primary);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 600px) {
  .banner-list .banner-header {
    grid-template-columns: 1fr;
  }
  .banner-list .banner-header .image {
    order: 0;
  }
}